### Custom ###
.idea/
.static_root/
.media/
.config_secret/
/django_app/static/musics/

*.ipynb

# Created by https://www.gitignore.io/api/c,c++,vim,sass,macos,python,django,pycharm,windows,elasticbeanstalk

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### ElasticBeanstalk ###
.elasticbeanstalk/
### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### PyCharm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/sonarlint

### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Django stuff:

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

### Sass ###
.sass-cache/
*.css.map

### Vim ###
# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
# session
Session.vim
# temporary
.netrwhist
*~
# auto-generated tag files
tags

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# Created by https://www.gitignore.io/api/xcode,linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# End of https://www.gitignore.io/api/xcode,linux

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Untitled.ipynb
config_secert.zip
config_secert/
django_app/music/migrations/0002_auto_20170803_2223.py
django_app/static/musics/01 Nobi Nobi No Style.mp3
"django_app/static/musics/01 \345\203\225\343\201\253\345\275\274\345\245\263\343\201\214\343\201\247\343\201\215\343\201\237\343\202\223\343\201\237.mp3"
"django_app/static/musics/01 \354\202\254\353\236\221\355\225\264\354\232\224.mp3"
"django_app/static/musics/02 \343\201\204\343\201\244\343\201\213\345\277\230\343\202\214\343\202\213\343\201\252\343\202\211.mp3"
"django_app/static/musics/03 \352\260\225\354\225\204\354\247\200.mp3"
"django_app/static/musics/05 Snow halation\357\274\210HONOKA Mix\357\274\211.mp3"
django_app/static/musics/08 Europa Minor.mp3
django_app/static/musics/1-01 Summer Time Love.mp3
"django_app/static/musics/1-01 \354\227\260\354\225\240.mp3"
"django_app/static/musics/1-01 \354\235\264\353\263\204\354\227\254\355\226\211.mp3"
"django_app/static/musics/1-01 \354\266\234\353\260\234.mp3"
"django_app/static/musics/1-01 \354\271\265\355\205\214\354\235\274 \354\202\254\353\236\221.mp3"
django_app/static/musics/1-02 I Say You Say I Love You.mp3
django_app/static/musics/1-02 Piece Of My Wish.mp3
django_app/static/musics/1-02 Play With Bootsy (feat. Kelli Ali).mp3
django_app/static/musics/1-02 With Coffee.mp3
"django_app/static/musics/1-02 \353\204\210 \354\227\206\354\235\264 \354\202\260\353\213\244 (feat. \354\235\264\355\230\204\354\232\260).mp3"
"django_app/static/musics/1-02 \353\210\210\353\271\233 \354\206\215\354\227\220 \353\213\264\352\262\250\354\247\204 \354\247\204\354\213\244.mp3"
"django_app/static/musics/1-02 \353\266\200\353\245\264\354\247\200\353\247\210.mp3"
"django_app/static/musics/1-02 \354\227\254\354\232\260\354\225\274(\357\246\201\351\233\250\345\244\234).mp3"
"django_app/static/musics/1-02 \355\224\274\354\225\204\353\213\210\354\213\234\353\252\250 (Pianissimo).mp3"
django_app/static/musics/1-03 Donnatokimo.mp3
django_app/static/musics/1-04 BABY BABY BABY.mp3
django_app/static/musics/1-05 Lady Writer.mp3
django_app/static/musics/1-05 Mama's Room.mp3
"django_app/static/musics/1-05 \354\202\254\353\236\221\354\240\220.mp3"
"django_app/static/musics/1-06 \346\200\235\343\201\204\343\201\215\343\202\212\343\202\242\343\203\241\343\203\252\343\202\253\343\203\263 (\353\247\210\354\235\214\352\273\217 \354\225\204\353\251\224\353\246\254\354\271\270 _ Omoikiri American).mp3"
"django_app/static/musics/1-06 \352\260\200\353\201\224 \353\257\270\354\271\230\353\217\204\353\241\235 \353\204\244\352\260\200 \354\225\210\352\263\240 \354\213\266\354\226\264\354\247\210 \353\225\214\352\260\200 \354\236\210\354\226\264.mp3"
django_app/static/musics/1-07 Cherry.mp3
"django_app/static/musics/1-07 \353\260\224\354\225\274\355\235\220\353\241\234 \354\202\254\353\236\221\354\235\230 \352\263\204\354\240\210 (feat. Leesa).mp3"
"django_app/static/musics/1-07 \355\214\214\354\264\210.mp3"
"django_app/static/musics/1-08 \353\247\210\354\235\214\354\227\220 \354\223\260\353\212\224 \355\216\270\354\247\200.mp3"
django_app/static/musics/1-09 Walk Together.mp3
django_app/static/musics/1-10 Return To...mp3
"django_app/static/musics/1-11 \346\202\262\343\201\227\343\201\277\343\201\253\343\201\225\343\202\210\343\201\252\343\202\211 (2010 ver.).mp3"
django_app/static/musics/1-12 Visions.mp3
"django_app/static/musics/1-13 28\302\260 A L'ombre (Monaco).mp3"
"django_app/static/musics/1-15 \354\227\260\355\203\204 \355\225\234 \354\236\245.mp3"
django_app/static/musics/1-16 Heart Of Gold.mp3
django_app/static/musics/1-19 Midnight Blue.mp3
"django_app/static/musics/2-08 \353\247\220\353\246\254\352\275\203.mp3"
"django_app/static/musics/4-14 First Of May (5\354\233\224\354\235\230 \354\262\253\353\202\240).mp3"
django_app/static/musics/__init__.py
django_app/static/musics/images/Andersons-Stephen & Emily.jpg
django_app/static/musics/images/Ando Yuko-Middle Tempo Magic.jpg
django_app/static/musics/images/Boney M-Feliz Navidad.jpg
django_app/static/musics/images/Bootsy Collins-Play With Bootsy.jpg
django_app/static/musics/images/CHERRY FILTER-Rocksteric.jpg
django_app/static/musics/images/Carnascialia -1979 Il Concerto.jpg
django_app/static/musics/images/Chris Hart-Heart Song III.jpg
django_app/static/musics/images/Cliff Richard-Love Songs.jpg
django_app/static/musics/images/Dire Straits-Communique.jpg
django_app/static/musics/images/Electric Light Orchestra-Electric Light Orchestra.jpg
django_app/static/musics/images/Jean Francois Maurice-Jean Francois Maurice.jpg
django_app/static/musics/images/Maurice Gibb-Coffee Vol.4.jpg
django_app/static/musics/images/Monolog & Ai Ichikawa-The Limelight.jpg
django_app/static/musics/images/Moumoon-Love Before We Die.jpg
django_app/static/musics/images/Shiggy Jr.-Summer Time Love.jpg
django_app/static/musics/images/Shishamo-Shishamo.jpg
django_app/static/musics/images/The Classic-The Classic 2.jpg
django_app/static/musics/images/Under The Influence Of Giants-Under The Influence Of Giants.jpg
"django_app/static/musics/images/\344\273\256\350\260\267\343\201\233\343\201\204\343\202\211-Colorful World.jpg"
"django_app/static/musics/images/\344\273\256\350\260\267\343\201\233\343\201\204\343\202\211-Nobi Nobi No Style.jpg"
"django_app/static/musics/images/\345\256\211\345\205\250\345\234\260\345\270\266-Anzenchitai Hits (\345\256\211\345\205\250\345\234\260\345\270\266 Hits).jpg"
"django_app/static/musics/images/\351\253\230\345\235\202\347\251\202\344\271\203\346\236\234-Solo Album 3 \343\201\273\343\202\223\343\201\256\343\202\212\347\251\202\344\271\203\346\236\234\350\211\262\357\274\201.jpg"
"django_app/static/musics/images/\352\260\200\354\235\204\353\260\251\355\225\231-\352\260\200\354\235\204\353\260\251\355\225\231.jpg"
"django_app/static/musics/images/\352\262\200\354\240\225\354\271\230\353\247\210-201.jpg"
"django_app/static/musics/images/\352\263\240\354\235\200\355\235\254 Feats. \354\235\264\354\240\225\353\236\200-\352\263\240\354\235\200\355\235\254 \302\267 \354\235\264\354\240\225\353\236\200.jpg"
"django_app/static/musics/images/\352\271\200\353\252\251\352\262\275-\352\271\200\353\252\251\352\262\275 Vol. 4.jpg"
"django_app/static/musics/images/\352\271\200\355\230\204\354\262\240-\354\226\264\353\212\220 \353\210\204\352\265\254\353\245\274 \354\202\254\353\236\221\355\225\234\353\213\244\353\212\224\352\261\264 \353\257\270\354\271\234 \354\247\223\354\235\264\354\225\274.jpg"
"django_app/static/musics/images/\353\217\231\353\254\274\354\233\220-\353\217\231\353\254\274\354\233\220 \354\227\254\353\215\237\353\262\210\354\247\270 \354\235\264\354\225\274\352\270\260 - \353\217\231\355\231\224.jpg"
"django_app/static/musics/images/\353\247\210\353\241\234\353\213\210\354\227\220-\354\271\265\355\205\214\354\235\274 \354\202\254\353\236\221.jpg"
"django_app/static/musics/images/\353\252\250\353\215\230\354\245\254\354\212\244-A Kiss At The End Of Rainbow.jpg"
"django_app/static/musics/images/\353\260\224\353\213\220\353\235\274\353\271\210-With Coffee.jpg"
"django_app/static/musics/images/\354\210\230\354\231\200 \354\247\204-\354\210\230\354\231\200 \354\247\204 \353\262\240\354\212\244\355\212\270 \354\2
75\234\353\240\211\354\205\230.jpg"
"django_app/static/musics/images/\354\225\210\354\271\230\355\231\230-\354\231\270\354\271\250!! (Clamour).jpg"
"django_app/static/musics/images/\354\226\264\353\226\244\353\202\240-\354\226\264\353\226\244\353\202\240 II.jpg"
"django_app/static/musics/images/\354\227\254\355\226\211\354\212\244\354\274\200\354\271\230-\353\202\250\354\244\200\353\264\211.jpg"
"django_app/static/musics/images/\354\233\220\353\257\270\354\227\260-\354\233\220\353\257\270\354\227\260 - \354\235\264\353\263\204\354\227\254\355\226\211.jpg"
"django_app/static/musics/images/\354\234\244\354\242\205\354\213\240-2011 \346\234\210\345\210\212 \345\260\271\351\215\276\344\277\241 March .jpg"
"django_app/static/musics/images/\354\235\264\354\212\271\354\262\240-Confession.jpg"
"django_app/static/musics/images/\354\235\264\355\225\234\354\262\240-\353\212\246\354\226\264\353\217\204 \352\260\200\354\235\204\354\227\220\353\212\224.jpg"
"django_app/static/musics/images/\354\236\204\353\260\261\354\262\234-\354\236\204\353\260\261\354\262\234 \353\205\270\353\236\230 \353\252\250\354\235\214\354\247\221.jpg"
"django_app/static/musics/images/\355\227\244\354\235\264-Piece Of My Wish [Repackage].jpg"
django_app/utils/__init__.py
django_app/utils/etc/
"django_app/static/musics/images/\354\210\230\354\231\200 \354\247\204-\354\210\230\354\231\200 \354\247\204 \353\262\240\354\212\244\355\212\270 \354\275\234\353\240\211\354\205\230.jpg"
